#menu {
  width: 1201px;
  margin: 0 auto;
  position: relative;
}
#menu > ul {
  list-style: none;
  float: right;
  margin: 0;
}
#menu > ul > li {
  float: left;
  padding: 30px 0;
  position: relative;
}
#menu > ul > li > a,
#menu > ul > li > span {
  /* color: #999; */
  color: #5B4D33;
  font-weight: bold;
  margin: 0 8px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

/* #menu-top > li:before{
content: "|";
} */

#menu > ul > li > a:hover,
#menu > ul > li > span:hover {
  color: #999;
}
#menu > ul > li:hover > ul {
  display: block;
  margin-top: -25px;
  left: 0;
  top: 100%;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -2px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

#menu-left {
  border: none;
}

#menu-left > li {
  background: #967f53;
  margin: 5px 0;
  padding: 3px 0;
  border: 2px solid #5c4e33;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}
#menu-left .ui-state-active {
  background: #efebe2;
  border: none;
  border-radius: 5px;
  color: #5c4e33;
}
#menu-left > li li {
  min-width: 250px;
}

#menu-left > li > a {
  color: #fff;
}

#menu-left li > * {
  display: block;
}
#menu-left a {
  text-decoration: none;
}

/*----------------------------TOP--------------------------------*/

#menu_top {
  background: #967f53;
  margin: 5px 0;
  border: 2px solid #5c4e33;
  color: #fff;
  font-size: 14px;
}

#menu_top ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu_top ul li {
  display: inline-block;
  position: relative;
}

#menu_top ul li a,
#menu_top ul li span {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}
#menu_top ul li a:hover,
#menu_top ul li span:hover {
  background: #5c4e33;
}

#menu_top ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 0;
  z-index: 2;
}

#menu_top ul li:hover ul {
  display: block;
}

#menu_top ul li ul li {
  display: block;
  min-width: 200px;
}

#menu_top ul li ul li a,
#menu_top ul li ul li span {
  padding: 10px 20px;
  background-color: #967f53;
  color: #fff;
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardContainer {
  display: flex;
}

.cardImg {
  width: 300px;
  height: 375px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.cardTitle {
  font-size: 30px;
  font-weight: 600;
  font-family: san-serif;
  color: #5c4e33;
}
.cardDescriptionContainer {
  padding-left: 20px;
}

#right p.cardDescription {
  text-indent: 0;
  font-size: 24px;
  font-family: san-serif;
  margin: 0;
}

.cardDescriptionName {
  text-indent: 0;
  font-size: 24px;
  font-family: san-serif;
  font-style: italic;
  font-weight: 600;
  margin: 0;
}

#right p.cardDescriptionName {
  text-indent: 0;
  font-size: 24px;
  font-family: san-serif;
  font-style: italic;
  font-weight: 600;
  margin: 0;
}

.cardText {
  font-style: normal;
  font-weight: 400;
}

.cardSocialWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cardSocialIcon {
  display: inline-block;
  border-radius: 5px;
}

.cardSocialLink {
  font-size: 24px;
  font-family: san-serif;
  font-style: italic;
  font-weight: 600;
}


#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #967f53;
  color: whitesmoke;
  cursor: pointer;
  padding: 10px 12.5px 5px 12.5px;
  border-radius: 50px;
}

#scrollToTopBtn:hover {
  background-color: #5c4e33;
}
